{% extends 'base.html' %}

{% load static %}
{% load addcss %}

{% block title %}
    <title>Password Reset Confirm</title>
{% endblock title %}

{% block script %}

      <link rel="stylesheet" href="{% static 'css/logsign.css' %}">
{% endblock script %}

{% block body %}

{% if form %}
<section id="hero" class="d-flex flex-column justify-content-center">
   <div class="container">
      <div class="row justify-content-center">
         <div class="col-xl-8">
            <div class="card mask-custom">
               <div class="card-body p-5 text-white">
                  <div class="my-4">
                     <h1 class="mb-4">Password Reset</h1>
                     <form method="post">
               {% csrf_token %}
               <!-- New Password -->
               <div class="form-outline mb-4 form-white">
                  {{form.new_password1 | addcss:"form-control+NewPass1"}}
                  <label for="NewPass1" class = "form-label">New Password:</label>
               </div>

               <!-- Renter new Password -->
               <div class="form-outline mb-4 form-white">
                  {{form.new_password2 | addcss:"form-control+NewPass2"}}
                  <label for="NewPass2" class = "form-label">Re-Enter New Password:</label>
               </div>

               <button type="submit" class="btn btn-white btn-block mt-3">Reset</button>
            </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
{% else %}
    <h3>This password rest link has been already used</h3>
    <p>Again reset the password</p>
{% endif %}


{% endblock %}