{% extends 'base.html' %}

{% load static %}
{% load addcss %}

{% block title %}
    <title>Password Change</title>
{% endblock title %}

{% block script %}
      <link rel="stylesheet" type = "text/css" href="{% static 'css/logsign.css' %}">
{% endblock script %}


{% block body %}
   <section id="hero" class="d-flex flex-column justify-content-center">
   <div class="container">
      <div class="row justify-content-center">
         <div class="col-xl-8">
            <div class="card mask-custom">
               <div class="card-body p-5 text-white">
                  <div class="my-4">
                     <h1 class="mb-4">Password Reset</h1>
                     <form method = "post">
            {% csrf_token %}
            <!-- Old Password -->
            <div class="form-outline mb-4 form-white">
               {{form.old_password | addcss:"form-control+oldPass"}}
               <label for="oldPass" class = "form-label">Old Password:</label>
            </div>

            <!-- New Password -->
            <div class="form-outline mb-4 form-white">
               {{form.new_password1 | addcss:"form-control+NewPass1"}}
               <label for="NewPass1" class = "form-label">New Password:</label>
            </div>

            <!-- Renter new Password -->
            <div class="form-outline mb-4 form-white">
               {{form.new_password2 | addcss:"form-control+NewPass2"}}
               <label for="NewPass2" class = "form-label">Re-Enter New Password:</label>
            </div>
            <button type="submit" class="btn btn-white btn-block mb-4">Submit</button>
         </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
{% endblock %}