{% load static %}
<html>
<head>
    <style>
        
        .badge{
            --bs-badge-color:none
                } 
            

    </style>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- MBD CSS -->
<link
 href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.4.0/mdb.min.css"
 rel="stylesheet"
/>

    <!-- Bootstrap css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <!-- Bootstrap-icons css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <!-- Box icons css -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

    <!-- Glightbox css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/glightbox/3.2.0/css/glightbox.min.css" integrity="sha512-T+KoG3fbDoSnlgEXFQqwcTC9AdkFIxhBlmoaFqYaIjq2ShhNwNao9AKaLUPMfwiBPL0ScxAtc+UYbHAgvd+sjQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Remixicons css -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">

    <!-- Swiper Bundle css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.3.2/swiper-bundle.min.css" integrity="sha512-T3xwtELy3dqQUajk2sl4V6x/VnT+WbXgAKIu/Go7L6oDDWf4A5dJbG49vKn0am3dTNh/KHAbU2+4Ih2vVioxSg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Internal css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}"></head>
    <body><main id="main">

        <table class="table align-middle mb-0 bg-white">
            <thead class="bg-light">
                <tr>
                    <th>Notification</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for notification in notifications  %}
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <i class="ri-notification-fill ri-2x"></i>

                            <div class="ms-3">
                                <p class="fw-bold mb-1">{{notification.heading}}</p>
                                <p class="text-muted mb-0">{{notification.body}}</p>
                            </div>
                        </div>
                    </td>
                    {% if notification.is_seen == True %}
                    
                    {% else %}
                    <td>
                        <i class="ri-checkbox-blank-circle-fill"></i>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
                
            </tbody>
        </table>
        </main></body>
        </html>


